[Unit]
Description=TFTP Server Container
After=docker.service network.target
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker pull pghalliday/tftp
ExecStart=/usr/bin/docker run --rm --net=host -p 69:69/udp -v /var/tftpboot:/var/tftpboot pghalliday/tftp
 
[Install]
WantedBy=multi-user.target
